<div class="row one col-12">
    <div class="col-1">#{{id}}</div>
    <div class="col-2">{{title}}</div>
    <div class="col-2">{{author| uppercase}}</div>
    <div class="col-1">{{price}}</div>
    <div class="col-6 row btn-group">
        <button type="button" class="btn btn-primary col-2" data-toggle="modal" data-target="#exampleModalLong" (click)="editByClick()">Edit</button>
        <button type="button" class="btn btn-secondary col-3" data-toggle="modal" data-target="#upload" (click)="uploadByClick()" >Image</button>
        <button type="button" class="btn btn-danger col-3" (click)="removeByClick()">Remove</button>
        <button type="button" class="btn btn-success col-3" data-toggle="modal" data-target="#details" (click)="editByClick()">Detail</button>
    </div>
</div>